.container {
    background-image: url("/wallpaper.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    padding: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.input {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.buttonSearch {
    background-color: #0070f3;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.buttonSearch:hover {
    background-color: #005bb5;
}

.buttonReset {
    background-color: #fc1100;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.buttonReset:hover {
    background-color: #c62828;
}

.navControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.buttonNav {
    background-color: #0070f3;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}
.pageIndicator {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: white;
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
